<!-- The sidebar -->
<div class="sidebar">
        <ul class="list-group">
        
        <li (click)="getList(product)" class="list-group-item"  *ngFor="let product of products">
                {{ product.name }}
                  <!-- <span class="border"><img src="{{ product.imageUrl}}"></span> --> 
                   
        </li>
        
       
       
        </ul>
        </div>
      
      <!-- Page content -->
      <!--  -->
      <div class="content">
          
            <div class="container">
                    <div class="row">
                      <div class="col-12 col-sm-8 col-lg-5">
                        <h6 class="text-muted">List des audios</h6> 
                        <ul class="list-group">
                          
                                
                          <li *ngFor="let audio of audios; let index = index" class="list-group-item d-flex justify-content-between align-items-center" appRainbow>  
                                <audio src="{{ audio.sourate }}" controls="true" loop="false" autoplay="false">
                                      
                                </audio>
                            <div class="image-parent">
                                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
                          </div>
                            </li>
                        </ul>
                      </div>
                      <div class="col-12 col-sm-8 col-lg-5">
                            <h6 class="text-muted">List des audios</h6> 
                            <ul class="list-group">
                              
                                    
                              <li *ngFor="let audio of audios; let i = index" class="list-group-item d-flex justify-content-between align-items-center">  
                                    <audio src="{{ audio.sourate }}" controls="true" loop="false" autoplay="false">
                                           
                                    </audio>
                                <div class="image-parent">
                                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
                              </div>
                                </li>
                            </ul>
                          </div>
                    </div>
            </div>
    
      
        
      </div>
<!--  
<ul>
    <li *ngFor="let product of products">
       {{ product.id }} --- {{ product.name }}
       <span class="border"><img src="{{ product.imageUrl}}"></span>
       
    </li>
</ul>
 -->
<router-outlet></router-outlet>